.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 340px;
  position: relative;
  box-shadow: 0 0 10px lightgrey;
  border-radius: 15px;

  @media only screen and (max-width: 1040px) {
    zoom: .65;
  }

  @media only screen and (max-width: 640px) {
    zoom: .4;
  }

  &.grey {
    .image, .count {
      filter: grayscale(1);
    }
  }
}

.image, .count {
  transition: .2s filter;
}

.image {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  background-color: #fec107;
  height: 20%;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0 15px 0 15px;
}

.button {
  transition: .2s background-color;
  height: 50px !important;
  width: 50px !important;
  position: absolute;
  bottom: 20%;
  cursor: pointer;
  background-color: #20519d;
  color: white;
  padding: 15px;
  border-radius: 50%;
  user-select: none;

  &:hover {
    background-color: darken(#20519d, 20%);
  }

  @media only screen and (max-width: 640px) {
    height: 70px !important;
    width: 70px !important;
  }

  &Left {
    left: 10%;
  }

  &Right {
    right: 10%;
  }
}
