.page {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-evenly;

  @media only screen and (max-width: 1040px) {
    grid-template-columns: repeat(auto-fill, 162.5px);
  }
  
  @media only screen and (max-width: 640px) {
    grid-template-columns: repeat(auto-fill, 100px);
  }
}
