@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a, a:focus, a:hover {
  text-decoration: none;
  color: black;
}
